<%= full_category(@category) %><br />

<% unless @category.children.empty? %>
  <br /> | 
  <% @category.children.each do |child| %>
    <%= link_to h(child.name), child %> |
  <% end %>
  <br />
<% end %>
<br />

<ul><%= category_items(@category) %></ul>
<% if signed_in? %>
  <% if current_user.admin? %>
    <div class="field">
	  <%= link_to 'New Item', newitem_path(@category.id) %> |
      <%= link_to "Edit Category", edit_category_path(@category) %><br />
    </div>
  <% end %>
<% end %>